#war {
    height: 100vh;
    background-image: url("../assets/civil_disobedience/puppet.jpg");
    background-size: cover;
    overflow-y: hidden;
    position: relative;
}

#government {
    height: 100vh;
    background-image: url("../assets/civil_disobedience/silence.jpg");
    background-size: cover;
    overflow-y: hidden;
    position: relative;
}

#one-step {
    height: 100vh;
    background-image: url("../assets/civil_disobedience/spread.jpg");
    background-size: cover;
    position: relative;
    overflow-y: hidden;
    position: relative;
}