#dominion {
    height: 100vh;
    background-image: url("../assets/crisis/streets.png");
    background-size: cover;
    overflow-y: hidden;
    position: relative;
}

#friend {
    height: 100vh;
    background-image: url("../assets/crisis/sermon.png");
    background-size: cover;
    overflow-y: hidden;
    position: relative;
}

#no-matter {
    height: 100vh;
    background-image: url("../assets/crisis/stars.gif");
    background-size: cover;
    position: relative;
    overflow-y: hidden;
    position: relative;
}