#lost {
    height: 100vh;
    background-image: url("../assets/endgame/lost.png");
    background-size: cover;
    overflow-y: hidden;
    position: relative;
}

#family {
    height: 100vh;
    background-image: url("../assets/endgame/circle.jpg");
    background-size: cover;
    overflow-y: hidden;
    position: relative;
}

#assemble {
    height: 100vh;
    background-color: black;
    background-size: cover;
    position: relative;
    overflow-y: hidden;
    position: relative;
}