#one {
    height: 100vh;
    background-image: url("../assets/propaganda/tiger.jpg");
    background-size: cover;
    overflow-y: hidden;
    position: relative;
}

#two {
    height: 100vh;
    background-image: url("../assets/propaganda/flag_2.jpg");
    background-size: cover;
    overflow-y: hidden;
    position: relative;
}

#three {
    height: 100vh;
    background-image: url("../assets/propaganda/factory.jpg");
    background-size: cover;
    position: relative;
    overflow-y: hidden;
    position: relative;
}