body {
    margin: 0;
    padding: 0;
}

h1 {
    color: #F5F5F5;
    text-align: center;
    font-size: 3em;
}

#top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: #424242;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-grid {
    margin-top: 15vh;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr 1fr;
    row-gap: 5vh;
    width: 50vw;
    height: 200vh;;
}

#main-line {
    position: absolute;
    align-self: center;
    justify-self: center;
    height: 460vh;
    z-index: -1;
}

.entry-img {
    justify-self: center;
    max-height: 35vh;
    max-width: 22vw;
    object-fit: contain;   
}

.entry-title {
    color: white;
    text-align: center;
    align-self: center;
    padding: 10%;
}

@media (max-height: 770px) {
    h1 {
        font-size: inherit;
    }

    #main-grid {
        width: 90vw;
    }

    #main-line {
        height: 230vh;
    }
}